<div class="contenedor-pub">
    <button (click) = "goBack()" class="goBack"> <img src="assets/flech.png" alt="Facebook"> </button>

    <h1 class="titulo"> {{publicacion.titulo}} </h1>
    <br>
    <h3> <label for="" class="fecha"> Fecha de publicación: {{publicacion.fecha_Publicacion | date:'dd/MM/yy'}} </label></h3>
    <br>
    <h3><label for="" class="sector"> Sector: {{publicacion.sector}} </label></h3>
    <br>
    <div class="contenedor-img">
        <img class="imagen-pub" src='data:image/png;base64, {{publicacion.imagen}}' alt="1">
    </div>
    <h3 class="descri">
        <p>{{publicacion.descripcion}}</p>
    </h3>
    <br>
    <h3 style="border-top: 1px solid rgb(139, 134, 134);"><label for="" class="usuario"> Publicado por: {{publicacion.nombre_Usuario}}</label></h3>
</div>