body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .contenedor-pub {
    text-align: center; /* Centra el texto dentro del contenedor */
    margin: 0 auto; /* Centra el contenedor en el eje horizontal */
    display:flex;
    align-self: center;
    flex-direction: column;
  }
  
  .contenedor-img {
    margin-top: 10px; /* Ajusta el margen superior de la imagen si es necesario */
    max-width: 600px; /* Establece un ancho máximo para la publicación */
    display:flex;
    align-self: center;
  }
  
  .imagen-pub {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
  }
  .descri p{
    width: 80%;
    text-align: left;
    margin: 0 auto;
  }