@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* @media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750;
    }
} */

.navbar {
    border-radius: 0;
    position: relative;
    text-shadow: none;
    min-height: 48px;
    background-color: #2b06fd;
}
.fondo{
    background-color: #FFD300;
}
.navbar-top {
    margin: 0;
}

.navbar-default.navbar-top {
    min-height: 80px;
    margin-bottom: 29px;
}

.navbar-default.navbar-top a {
    padding-top: 30px;
    min-height: 80px;
}

.navbar-primary {
    border: 0;
    background-color: #ffffff;
    border-bottom: 3px solid #fdd306;
}

.container,
.container-fluid {

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-brand {
    float: left;
    margin-left: 0;
    margin-top: 12px;
}


.bac-header {
  
    width: 64px;
    height: 64px;
    background-image: url(/ifts6/src/assets/logo2.png), none;
    /* background-repeat: no-repeat; */
}

.navbar-top .sub-brand {
    float: right;
    position: relative;
    top: 6px;
    color: #292202;
}

.text-right {
    float: right;
    text-align: right;
}

.text-left {
    float: left;
    text-align: left;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
}
.imagen {
    height: 64px;
}