<header>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

    <div class="fondo">
        <div class="container">
            <div class="row">
                <div class="col-m-6 col-s-6 text-left oculto">
                    <h5 class="sub-brand"><img src="assets/ifts6.png" class="header-logo-izquierda"></h5>
                    <!-- <div class="titulo_instituto">IFTS N° 6</div> -->
                </div>
                    
                <div class="titulo_web">Comercio Internacional y Aduanas</div>
                                
                <div class="col-m-6 col-s-6 text-right oculto">
                    <p class="links"><a href="https://buenosaires.gob.ar/educacion" target="_blank"><h5 class="sub-brand"><img src="assets/bae.png" class="header-logo-derecha" ></h5></a></p>
                    
                </div>
            </div>
        </div>
        <div class="header">
            <img class="imgifts6" src="assets/civil.png" alt="Imagen de encabezado">
        </div>
        </div>
        <div class="header-negro">

            <div class="contenedor-botones">
                <a (click)="irPagina('')"><button class="btn">Inicio</button></a>
                <a (click)="irPagina('institucional')"><button class="btn">Institucional</button></a>
                <a (click)="irPagina('carreras')"><button class="btn">Carrera</button></a>
                <a (click)="irPagina('ingreso')"><button class="btn">Ingreso</button></a>
                <a (click)="irPagina('extension')"><button class="btn">Extensión terciaria</button></a>
                <a (click)="irPagina('convenios')"><button class="btn">Convenios</button></a>
                <a (click)="irPagina('contacto')"><button class="btn">Contacto</button></a>
            </div>

            <div class="user" *ngIf="login.getConectado().conectado">
                <p> Bienvenido {{login.getConectado().nombre_Usuario}}!</p>
                <button (click)="cerrarSesion()"> Cerrar Sesion </button>    
            </div>
        </div>
        
    
</header>