/* Estilo para el contenedor de publicaciones */
.contenedor-pub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  
  /* Estilo para cada publicación individual */
  .pub {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(33.33% - 20px); /* Ajustar el ancho de acuerdo a tus necesidades */
  }
  
  /* Estilo para el título de la publicación */
  .pub h2 {
    font-size: 22px;
    margin: 0;
    color: #19c3e3;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Estilo para la imagen de la publicación */
  .contenedor-img {
    text-align: center;
  }
  
  .imagen-pub {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
  }
  
  /* Estilo para el párrafo de descripción */
  .pub p {
    margin: 10px 0;
   
  }
  
  /* Estilo para las etiquetas de información */
  .pub label {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    color: #666;
  }