
<div class="contenedor-pub">
    <div class="pub" *ngFor="let fila of publicacionesMostrar" (click) = "detalle(fila)">
        <h2> {{fila.titulo}} </h2>
        <div class="contenedor-img">
            <img class="imagen-pub" src='data:image/png;base64, {{fila.imagen}}' alt="1">
        </div>
        <p>{{fila.descripcion}}</p>
        <br>
        <label for=""> Fecha de publicacion : {{fila.fecha_Publicacion}} </label>
        <br>
        <label for=""> Publicado por : {{convertirUsuario(fila.id_Usuario)}}</label>
        <br>
        <label for=""> Sector : {{convertirSector(fila.id_Sector)}} </label>
    </div>
</div>

