.contenedor-principal {
    display:flex;
    justify-content: center;
    margin: 0 auto;
    height: 54.3vh;
    width: 65%;
}

p{
    text-align: left;
    font-size: large;
}

.pdfs{
    display: flex;
    padding-top: 1rem;
    gap: 1rem;
}

a{
    font-size: large;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 5px black;
}

@media (max-height : 770px) {
    .contenedor-principal{
        border: 1px solid red;
        height: 60vh;
    }

    p{
        text-align: left;
        font-size: medium;
    }

    a{
        font-size: medium;
        padding: 5px;
        background-color: #333;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        box-shadow: 5px 5px black;
    }
}