.contenedor-principal {
    text-align: left; /* Centrar el texto a la derecha */
    margin: 20px; /* Agregar márgenes */

    word-wrap: break-word; /* Permite que las palabras se rompan y continúen en la línea siguiente */
    white-space: normal;   /* Permite el desbordamiento de palabras para ajustarse al contenedor */
    overflow-wrap: break-word; /* Alternativa para navegadores que no admiten word-wrap */
}

.Generalidades {
    font-size: 16px;
    color: #333;
}
