footer {
  bottom: 0;
  width: 100%;
  background-color: #FFD300;
  color: #333;
  text-align: center;
  padding: 10px 0
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.footer-left {
  text-align: left;
}

.footer-center {
  flex: 1;
}

.footer-right {
  text-align: right;
}

.icon-container {
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* Estilos opcionales para los iconos */
.fa {
  font-size: 24px;
  padding: 10px;
}

.iconst {
  max-width: 32px;
  height: auto;
  padding-left: 4px;
  padding-right: 4px;
}

.footer-logo-derecha {
  width: 140px;
  margin-right: 1.1rem;
}

@media (min-width: 1200px) {
  .footer-content {
    width: 95%;
  }
}