<div class="card">
    <p-table id="customers"[columns]="columnas" [value]="filas" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] }}
                </td>
                <td>
                    <button class="pi pi-trash icono_trash" (click) = "borrar(rowData)"> Borrar </button>
                    <button class="pi pi-pencil icono_edit" (click) = "modificar(rowData)"> Modificar </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>