<div class="card">
    <p-table id="customers"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [columns]="columnas" 
    [value]="filas" 
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Viendo del registro {first} hasta el {last} de {totalRecords} registros">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] }}
                </td>
                <td>
                    <button class="pi pi-pencil icono_edit" (click) = "modificar(rowData)">  </button>
                    <button class="pi pi-trash icono_trash" (click) = "borrar(rowData)">  </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>