@import "primeicons/primeicons.css";
.card{
    margin-top: 20px;
}

#customers {
    font-family:sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c5c3c2;
    color: rgb(12, 6, 6);
  }

  .icono_edit{
    color: #04AA6D;
    margin-right: 10px;
  }
  .icono_trash{
    color: red;
    
  }


  .descripcion {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 3px solid  #FFD300;
    z-index: 9;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
}

.descripcion-button{
    width: 3vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: red;
}

.descripcion-label{
    margin: 1vh;
}
