.ver{
    display: flex;
    justify-content: end;
    margin : 1rem;
}

button{
    background-color: #98FF1F;
    color: black;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}